@{
    ViewData["Title"] = "About are changed and now in a new bracch";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Now i will try to mate a pull request</p>